@{
    ViewData["Title"] = "Change Password";
}
@model PasswordVM
<br />
<section class="text-center">
    <h1>@ViewData["Title"]</h1>
</section>
<hr />
<article class="d-flex justify-content-center container">
    <div class="mt-md-3 bg-dark-subtle p-3 col-12 col-md-6">
        <form class="" method="post" asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden type="text" asp-for="AppUserId" value="@Model.AppUserId"/>
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" id="password" type="password" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
            <br />
            <label class="form-label" for="confirmPassword">Confirm password:</label>
            <input class="form-control" id="confirmPassword" type="password" asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <br />
            <button class="btn btn-outline-light" type="submit">Submit</button>
        </form>
    </div>
</article>